@{
    ViewData["Title"] = "Home";
}

@model IQueryable<Book> 

<div class="container text-center">
    <h1 class="display-4">Bookstore</h1>
</div>

<div class="container">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">ISBN</th>
                <th scope="col">Classification</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr> @*Format this correctly so that it displays the author name in a nice way*@
                    <td>@book.Title</td>
                    <td>@book.AuthorFirst 
                        @if(System.String.IsNullOrEmpty(book.AuthorMiddle))
                        {
                            @: 
                        }
                        else
                        {
                            if(book.AuthorMiddle.Length == 1) @* if the author only has a middle initial, then it will render as the initial with a period *@
                            {
                                @:@book.AuthorMiddle.
                            }
                            else
                            {
                                @book.AuthorMiddle;
                            }                           
                        } @book.AuthorLast</td>
                    <td>@book.Publisher</td>
                    <td>@book.ISBN</td>
                    <td>@book.Classification</td>
                    <td>@book.Category</td>
                    <td>$@book.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>