@{
    ViewData["Title"] = "Bookstore";
}

@model IQueryable<Book> 

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Publisher</td>
            <td>ISBN</td>
            <td>Classification / Category</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@book.ISBN</td>
                <td>@book.ClassificationCategory</td>
                <td>@book.Price</td>
            </tr>
        }
    </tbody>
</table>