@page
@model WebApp5.Pages.CheckoutModel
@{
}

@* This is self contained, so whenever you type in the name in the URL it will render this page *@
@* known as an MVVM - Model View View Model *@

<h2>Your Cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th class="text-right">Price</th>
            <th colspan="2">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines) 
        {
            <tr>
                <td class="text-left">@line.Book.Title</td>
                <td class="text-center">@line.Quantity</td>
                <td class="text-right">@line.Book.Price.ToString("c")</td>
                <td class="text-right">@((line.Quantity * line.Book.Price).ToString("c"))</td>
                <td>
                    @*<form id="@line.Book.BookID" asp-page="/checkout" method="post">
            <input type="hidden" asp-for="@line.Book.BookID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                <button type="submit" class="btn-success btn-sm" style="text-align:center">
                    Add to Cart
                </button>
            </span>
        </form>*@
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="BookID"
                               value="@line.Book.BookID" />
                        <input type="hidden" name="returnUrl"
                               value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>    
    <tfoot>
        <tr>
            <td colspan="3" style="font-weight:bold" class="text-right">Total</td>
            <td style="font-weight:bold"class="text-right">@Model.Cart.ComputeTotalSum().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="container">
    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    </div>
</div>